# Python virtualenv
.venv/
venv/

# Environment files
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Tests
.pytest_cache/

# Coverage
.coverage
coverage.xml

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Logs
*.log
